/*Page font and spacing*/
body{
font-family: 'Courier New', Courier, monospace;
margin:40px;
line-height:1.5;
}

h1{
font-size:38px;
}


.cat-img{
float:right; 
width:250px; 
margin-left:25px;
margin-bottom:10px;
}


/* Footer text style */
.footer{
font-size:14px;
}